.summaryCards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:24px;

}

.summaryCard{

background:#111811;

border:1px solid #21422b;

border-radius:18px;

padding:22px;

transition:.25s;

cursor:pointer;

}

.summaryCard:hover{

transform:translateY(-3px);

border-color:#28c85b;

box-shadow:0 12px 24px rgba(0,0,0,.30);

}

.summaryHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

color:#9fb0a5;

font-size:13px;

}

.summaryCard h1{

font-size:38px;

font-weight:700;

margin-bottom:12px;

}

.summaryCard p{

font-size:14px;

font-weight:600;

}

.status{

width:10px;

height:10px;

border-radius:50%;

}

.status.green{

background:#22d463;

box-shadow:0 0 10px #22d463;

}

.status.red{

background:#ff4c57;

box-shadow:0 0 10px #ff4c57;

}

.green{

color:#22d463;

}

.red{

color:#ff4c57;

}

@media(max-width:1300px){

.summaryCards{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.summaryCards{

grid-template-columns:1fr;

}

}