.terminalHeader{

height:68px;

background:#111811;

border-bottom:1px solid #21422b;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 22px;

overflow:hidden;

}

.terminalLeft{

display:flex;

align-items:center;

gap:14px;

min-width:260px;

}

.terminalLogo{

width:42px;

height:42px;

border-radius:12px;

background:#169b45;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:700;

color:white;

}

.terminalLeft h2{

margin:0;

font-size:20px;

}

.terminalLeft small{

color:#8ea195;

}

.tickerWrapper{

flex:1;

overflow:hidden;

margin:0 25px;

}

.ticker{

display:flex;

width:max-content;

animation:tickerMove 35s linear infinite;

}

.tickerItem{

display:flex;

gap:10px;

align-items:center;

margin-right:45px;

white-space:nowrap;

font-size:13px;

}

.tickerItem strong{

color:white;

}

.up{

color:#22d463;

font-weight:700;

}

.down{

color:#ff4d57;

font-weight:700;

}

@keyframes tickerMove{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}

.terminalRight{

display:flex;

align-items:center;

gap:18px;

}

.terminalStatus{

display:flex;

align-items:center;

gap:8px;

font-weight:600;

}

.liveDot{

width:10px;

height:10px;

border-radius:50%;

background:#22d463;

box-shadow:0 0 12px #22d463;

}

.terminalClock{

font-size:14px;

font-weight:600;

padding:8px 14px;

background:#162016;

border-radius:8px;

border:1px solid #21422b;

}